body {
    font-family: 'OpenSans', sans-serif;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#calculator {
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    width: 485px;
    overflow: hidden;
}

#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    color: white;
    background-color: hsl(0, 0%, 15%);
}

img {
    position: relative;
    top: 5px;
    right: 3px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    cursor: pointer;
}

.orange {
    background-color: hsl(35, 100%, 55%);
}

.orange:active {
    background-color: hsl(35, 100%, 65%);
}

button:active {
    background-color: hsl(35, 0%, 40%);
}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 0.06fr);
    gap: 10px;
    padding: 25px;
}